
/* profielen*/ 

.random
{
	width: auto;
	height: auto;
	float: left;
}

.random div
{
	margin: 10px;
	height: 25%;
	width: 45%;
	display:inline-block;
	background-color: #B0B0B0;
}

.random th
{
	width: 
}

#profielfoto img
{
	width: 50px;
	heigth: 50px;
}

.tekst th
{
	width: 10%;
}