/* Registeren */

#registeren div
{
	position: static;
	width: 80%;
	height: auto;
	display:block;
	margin: auto;
	marin-bottom: 3px;
}

#registeren div label
{
	display: inline-block;
	margin: 10px;
	width: 50px;
}
.normalLabel{width: 200px;}


/* inloggen */

#inloggen div
{
	position: static;
	width: 50%;
	height: auto;
	display:block;
	margin: auto;
	marin-bottom: 3px;
}

#inloggen div label
{
	display: inline-block;
	margin: 10px;
	width: 100px;
}

#submit{ padding-left:150px;}

/* profielen*/ 

.random
{
	width: auto;
	height: auto;
	float: left;
}

.random div
{
	margin: 10px;
	height: 300px;
	width: 250px;
	display: inline-block;
	background-color: #B0B0B0;
}
.random div:child(even){ float:clear;}

.random th
{
	width: 150px;
	padding: 5px;
}

#profielfoto img
{
	width: 50px;
	heigth: 50px;
}
